<ul class="tabs ox3-widget-navigation" id="Navigation" style="display: block;">
    <li>
        @Html.ActionLink("Nhóm Khách Hàng", "Index", "Nhom", null, new { @class = "nhom" })

    </li>
    <li>
        @Html.ActionLink("Khách Hàng", "Index", "KhachHang", null, new { @class = "khachhang" })
    </li>
    <li class="here">
        @Html.ActionLink("Phòng Ban", "Index", "PhongBan", null, new { @class = "phongban" })
    </li>

</ul>